@import 'tailwindcss';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* tránh dư khoảng trắng */
  padding: 0;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff512f0f, #dd4f24ba);
  padding: 1rem; /* thêm padding để nội dung không dính sát */
  box-sizing: border-box;
}

.page-container.dark {
  background: linear-gradient(90deg, #2c3e50, #34495e70);
}

.gradient-text {
  background: linear-gradient(90deg, #ff512f, #24addd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
}

.container-button-tab {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-catList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 20px;
}

.refresh-cats {
  cursor: pointer;
  background: antiquewhite;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  animation: jump infinite 2s;
  margin-bottom: 1rem;
  margin: 10px;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.item {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 7px 20px rgb(0 0 0);
}

.item img {
  object-fit: cover;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0 7px 20px rgb(0 0 0);
}

.item:hover {
  transform: scale(1.1);
}

.button {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  gap: 0.75rem;
}

.highlight-vote-button {
  transform: scale(1.2);
  box-shadow: 0 8px 18px rgb(197 147 34);
}

.like-button {
  cursor: pointer;
  background: antiquewhite;
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 16px;
  font-family: cursive;
  width: auto;
  min-width: 90px;
  text-align: center;
  transition: transform 2s ease;
}
 
.score {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.my-tab {
  padding-top: 30px;
  font-size: 22px;
  font-family: -webkit-body;
}

@media (max-width: 780px) {
  .container-catList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 20px;
  }
  .item img {
    height: 240px;
  }
  .like-button {
    cursor: pointer;
    background: antiquewhite;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 14px;
    font-family: cursive;
    width: 75px;
    min-width: 0px;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .item img {
    object-fit: cover;
    border-radius: 10px;
    width: 220px;
    height: 220px;
  }
  .container-catList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding-top: 20px;
  }
}
